name: Scheduled A

on:
  schedule:
    - cron: '0,30 * * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Request
        run: |
          c=$(curl -s -o /dev/null -w "%{http_code}" "${{ secrets.SCHEDULED_1 }}")
          if [ "$c" -lt 200 ] || [ "$c" -ge 300 ]; then exit 1; fi
