name: Scheduled B-3

on:
  schedule:
    - cron: '*/6 * * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Request 3
        run: |
          c=$(curl -s -o /dev/null -w "%{http_code}" "${{ secrets.SCHEDULED_4 }}")
          if [ "$c" -lt 200 ] || [ "$c" -ge 300 ]; then exit 1; fi
